<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/room_master.css"/>
    <title>Sprite Manager</title>
</head>
<body>
<div id="header">Header</div>

<div id="content">
    <div id="left">
        <div class="block" id="game-block">
            <div id="game-container"></div>
        </div>
        <div class="block">2</div>
    </div>

    <!-- Правая часть -->
    <div id="right">
        <div class="block" id="block-3">
            <button id="add-character-button">Добавить</button>
            <div id="characters-list"></div>
        </div>
        <div class="block" id="block-4">
            <button id="add-background-button">Добавить</button>
            <div id="backgrounds-list"></div>
        </div>
    </div>
</div>
<script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
<script>
    const socket = io();
    const gameContainer = document.getElementById('game-container');
    let characters;
    let backgrounds;

    socket.on('state_updated', (data) => {
            if (data.current_background) {
                gameContainer.style.backgroundImage = `url(${data.current_background.sprite_url})`;
            } else {
                const centerSprites = () => {
                    const totalWidth = Array.from(gameContainer.children)
                        .reduce((sum, sprite) => sum + sprite.offsetWidth, 0);

                    const containerWidth = gameContainer.width;
                    const offset = Math.max(0, (containerWidth - totalWidth) / 2);

                    gameContainer.style.paddingLeft = `${offset}px`;
                };
                if (data.current_sprites) {
                    gameContainer.innerHTML = ''; // Очищаем контейнер
                    const spritePromises = Object.values(data.current_sprites).map(sprite => {
                        return new Promise((resolve) => {
                            const spriteElement = document.createElement('div');
                            spriteElement.className = 'sprite';

                            // Устанавливаем изображение и уменьшенные размеры
                            spriteElement.style.backgroundImage = `url(${sprite.sprite_url})`;
                            spriteElement.style.height = `${sprite.height / 2}px`;
                            const img = new Image();
                            img.src = sprite.sprite_url;
                            img.onload = () => {
                                const aspectRatio = img.width / img.height;
                                spriteElement.style.width = `${(sprite.height / 2) * aspectRatio}px`;

                                // Добавляем обработчики событий
                                spriteElement.addEventListener('click', () => {
                                    createModalEdit(sprite.character_id);
                                });
                                spriteElement.addEventListener('contextmenu', (event) => {
                                    event.preventDefault(); // Предотвращаем стандартное контекстное меню браузера
                                    socket.emit('delete_current', {
                                        "character_id": sprite.character_id
                                    });

                                });
                                socket.on("delete_current_ans", (data) => {
                                    if (sprite.character_id === data.character_id) {
                                        spriteElement.classList.add('fade-out');
                                        spriteElement.addEventListener('transitionend', () => {
                                            gameContainer.removeChild(spriteElement)
                                            centerSprites();
                                        }, {once: true}); // Обработчик срабатывает только один раз

                                    }
                                });

                                resolve(spriteElement); // Возвращаем созданный спрайт
                            };
                        });
                    });
                    if (data.new_character) {
                        Promise.all(spritePromises).then(sprites => {
                            sprites.forEach(sprite => {
                                gameContainer.appendChild(sprite);
                                requestAnimationFrame(() => {
                                    sprite.classList.add('show');
                                });
                            });
                        });
                    } else {
                        Promise.all(spritePromises).then(sprites => {
                            sprites.forEach(sprite => {
                                gameContainer.appendChild(sprite)
                                sprite.classList.add('show');
                            });
                        });
                    }
                }
            }
        }
    );

    const charactersList = document.getElementById('characters-list');
    socket.on('characters_update', (data) => {
        charactersList.innerHTML = ''; // Очищаем список
        characters = data
        Object.values(data).forEach(character => {
            const characterItem = document.createElement('div');
            characterItem.className = 'character-item';

            const characterImage = document.createElement('div');
            characterImage.className = 'character-image';
            characterImage.style.backgroundImage = `url(${character.picture})`;

            const characterName = document.createElement('div');
            characterName.className = 'character-name';
            characterName.textContent = character.name;

            characterItem.addEventListener('click', () => {
                createModal(character, 0);
            });

            characterItem.appendChild(characterImage);
            characterItem.appendChild(characterName);
            charactersList.appendChild(characterItem);
        });
    });
    document.getElementById('add-character-button').addEventListener('click', () => {
        socket.emit('new_character');
    });

    const backgroundList = document.getElementById('backgrounds-list');
    socket.on('backgrounds_update', (data) => {
        backgroundList.innerHTML = ''; // Очищаем список
        backgrounds = data
        Object.values(data).forEach(background => {
            const backgroundItem = document.createElement('div');
            backgroundItem.className = 'background-item';

            const backgroundImage = document.createElement('div');
            backgroundImage.className = 'background-image';
            backgroundImage.style.backgroundImage = `url(${background.picture})`;

            const backgroundName = document.createElement('div');
            backgroundName.className = 'background-name';
            backgroundName.textContent = background.name;

            backgroundItem.addEventListener('click', () => {
                createModal(background, 1);
            });

            backgroundItem.appendChild(backgroundImage);
            backgroundItem.appendChild(backgroundName);
            backgroundList.appendChild(backgroundItem);
        });
    });
    document.getElementById('add-background-button').addEventListener('click', () => {
        socket.emit('new_background');
    });

    function createModalEdit(sprite) {
        const character = characters[sprite]
        console.log(characters)
        const modal = document.createElement('div');
        modal.className = 'modal';

        const modalContent = document.createElement('div');
        modalContent.className = 'modal-content';

        const spritesContainer = document.createElement('div');
        spritesContainer.className = 'sprites-container';

        function renderSprites_edit() {
            spritesContainer.innerHTML = ''; // Очищаем контейнер
            Object.values(character.sprites).forEach(sprite => {
                const spriteCard = document.createElement('div');
                spriteCard.className = 'sprite-card';
                spriteCard.style.backgroundImage = `url(${sprite.sprite_url})`;
                spriteCard.addEventListener('click', () => {
                    socket.emit('update_state', {
                        "new_sprite": {
                            "sprite_url": sprite.sprite_url,
                            "character_id": sprite.character_id,
                            "sprite_id": sprite.sprite_id
                        }
                    });
                })
                spritesContainer.appendChild(spriteCard);
            });
        }

        renderSprites_edit();
        modalContent.appendChild(spritesContainer);
        modal.appendChild(modalContent);
        document.body.appendChild(modal);

        // Закрытие окна при клике вне модального содержимого
        modal.addEventListener('click', (e) => {
            if (e.target === modal) {
                document.body.removeChild(modal);
            }
        });
    }


    function createModal(character, isBackground) {
        // Создаем модальное окно
        const modal = document.createElement('div');
        modal.className = 'modal';

        // Контейнер содержимого
        const modalContent = document.createElement('div');
        modalContent.className = 'modal-content';

        // Поле ввода имени персонажа
        const nameInput = document.createElement('input');
        nameInput.className = 'name-input';
        nameInput.type = 'text';
        nameInput.value = character.name;

        // Кнопка удаления персонажа
        const deleteButton = document.createElement('button');
        deleteButton.className = 'delete-button';
        deleteButton.textContent = 'Удалить';

        // Контейнер для спрайтов
        const spritesContainer = document.createElement('div');
        spritesContainer.className = 'sprites-container';

        // Заполняем карточки спрайтов
        function renderSprites() {
            spritesContainer.innerHTML = ''; // Очищаем контейнер
            Object.values(character.sprites).forEach(sprite => {
                const spriteCard = document.createElement('div');
                spriteCard.className = 'sprite-card';
                spriteCard.style.backgroundImage = `url(${sprite.sprite_url})`;
                spriteCard.addEventListener('click', () => {
                    if (!isBackground) {
                        socket.emit('update_state', {
                            "new_sprite": {
                                "sprite_url": sprite.sprite_url,
                                "character_id": sprite.character_id,
                                "sprite_id": sprite.sprite_id
                            }
                        });
                    } else {
                        socket.emit('update_state', {
                            "current_background": {
                                "sprite_url": sprite.sprite_url,
                                "character_id": sprite.character_id,
                                "sprite_id": sprite.sprite_id
                            }
                        });
                    }
                })
                spriteCard.addEventListener('contextmenu', (event) => {
                    event.preventDefault();
                    socket.emit('delete_sprite', {
                        "sprite_url": sprite.sprite_url,
                        "character_id": sprite.character_id,
                        "sprite_id": sprite.sprite_id

                    });
                    spritesContainer.removeChild(spriteCard);
                });
                spritesContainer.appendChild(spriteCard);
            });

            // Карточка с плюсом для добавления
            const addSpriteCard = document.createElement('div');
            addSpriteCard.className = 'sprite-card add-sprite';
            addSpriteCard.textContent = '+';
            addSpriteCard.addEventListener('click', () => {
                // Открытие окна выбора изображения
                const input = document.createElement('input');
                input.type = 'file';
                input.accept = 'image/*';
                input.addEventListener('change', () => {
                    const file = input.files[0];
                    if (file) {
                        const formData = new FormData();
                        formData.append('file', file);
                        formData.append('character_id', character.id);

                        // Отправляем файл на сервер
                        fetch('/upload_sprite', {
                            method: 'POST',
                            body: formData,
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    const newSpriteData = {
                                        sprite_url: data.sprite_url,
                                        sprite_id: data.sprite_id,
                                        character_id: data.character_id,
                                    };
                                    if (!character.sprites[data.character_id]) {
                                        character.sprites[data.character_id] = {};
                                    }
                                    character.sprites[data.character_id] = newSpriteData;

                                    renderSprites(); // Перерисовываем спрайты
                                } else {
                                    console.error('Ошибка загрузки спрайта:', data.message);
                                }
                            })
                            .catch(error => {
                                console.error('Ошибка при загрузке файла:', error);
                            });
                    }
                });
                input.click();
            });

            spritesContainer.appendChild(addSpriteCard);
        }


        renderSprites();

        // Событие удаления персонажа
        deleteButton.addEventListener('click', () => {
            if (confirm('Вы уверены, что хотите удалить персонажа?')) {
                socket.emit('character_delete', {characterId: character.id}); // Отправляем запрос на сервер
                document.body.removeChild(modal); // Закрываем модальное окно
            }
        });

        // Событие изменения имени
        nameInput.addEventListener('input', () => {
            character.name = nameInput.value;
            socket.emit('character_update', {characterId: character.id, name: character.name}); // Отправляем изменения на сервер
        });

        // Добавляем элементы в модальное окно
        modalContent.appendChild(nameInput);
        modalContent.appendChild(deleteButton);
        modalContent.appendChild(spritesContainer);
        modal.appendChild(modalContent);
        document.body.appendChild(modal);

        // Закрытие окна при клике вне модального содержимого
        modal.addEventListener('click', (e) => {
            if (e.target === modal) {
                document.body.removeChild(modal);
            }
        });
    }

    socket.emit('join_room', {room_id: '1'});
</script>
</body>
</html>
